[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipykernel = "*"
pywebber = "*"
python-docx = "*"
openpyxl = "*"
"html5lib" = "*"

[dev-packages]

[requires]
python_version = "3.6"
